# .gitignore
*.log

# For Haskell
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp

# For xmonad
xmonad-x86_64-linux
*.errors

# For emacs lisp
*.elc

# newsbeuter's misc. files
cache.db
cookies.txt
history.*

# not ready to commit
ghc-mod
ghc-modi
kbd-backlight

# emacs auctex
**/auto/*

# weird spacemacs shit
.#*

# xmonad state
*.state
