# .gitignore
*.log

# For Haskell
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp

# For xmonad
xmonad-x86_64-linux
*.errors

# For emacs lisp
*.elc

# newsbeuter's cache file
cache.db

# not ready to commit
ghc-mod
ghc-modi
kbd-backlight
