! Xresources file

Xft.antialias: 1
Xft.autohint: 0
Xft.dpi: 140
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

Emacs*.pane.menubar.background: darkGrey
Emacs*.pane.menubar.foreground: black
Emacs*menubar.margin: 0
Emacs*shadowThickness: 1
Emacs*.font: inconsolatazi4

!urxvt*depth: 32
!urxvt*background: rgba:0000/0000/0200/c800

URxvt*.transparent: true
! URxvt*.shading: 0 to 99 darkens, 101 to 200 lightens
URxvt*.shading: 160
URxvt*.font: xft:Inconsolata for Powerline:antialias=true:hinting=true:13
URxvt*.boldFont: xft:Inconsolatazi4-Bold:antialias=true:hinting=true:13:style=bold
URxvt*.scrollstyle: plain
URxvt*.scrollBar_right: True
URxvt*.scrollBarFloating: True
URxvt*.saveLines: 5000
URxvt*.internalBorder: 5
! URxvt*.cursorBlink: False
! URxvt*.depth: 32
URxvt*.urgentOnBell: true

URxvt*.cursorColor: #aa2e00
URxvt*.pointerColor: #aa2e00

URxvt*.color0: #292929
! black
! Used as foreground color by htop against color2 and color

URxvt*.color1: #aa2e00
! red

URxvt*.color2: #1bbc9b
! green
! * htop column headers bg
! * tmux window list bg

URxvt*.color3: #5a440d
! yellow
! * Used as newsbeuter fg against 4.

URxvt*.color4: #00bfff
! blue
! * Used as newsbeuter bg against 3.

URxvt*.color5: #800080
! magenta
! Used as grep background.

URxvt*.color6: #00aaaa
! cyan
! * Used by htop as background in several locations, and as foreground in
!   a few others

URxvt*.color7: #bdc3c7
! white
! * Used by yesod as fg
! * Used by grep as the fg against 5
! * Used by irssi as fg a

Urxvt*.color8: #6c7a89
! bright black

URxvt*.color9: #b22222
! bright red

URxvt*.color10: #4b6913
! bright green

URxvt*.color11: #726012
! bright yellow

URxvt*.color12: #006080
! bright blue

URxvt*.color13: #aa00aa
! bright magenta

URxvt*.color14: #005051
! bright cyan

Urxvt*.color15: #4d6066
! bright white

URxvt*.perl-ext-common: tabbedex,matcher
URxvt*.tabbed.tabbar-fg: 0
URxvt*.tabbed.tabbar-bg: 15
URxvt*.tabbed.tab-fg: 15
URxvt*.tabbed.tab-bg: 1
URxvt*.tabbed.title-fg: 0
URxvt*.tabbed.title-bg: 15
URxvt*.tabbed.reopen-on-close: no

URxvt*.url-launcher: /usr/bin/firefox
URxvt*.matcher.button: 1

!URxvt*.letterSpace: -1

URxvt*.secondaryWheel: 1
URxvt*.secondaryScroll: 0
